/file.txt
/main
/Python-Platformer-main
/testISuposse.py
/testtest.py
/The code of said program+The required file
/The program that remove all .txt files (Dangerous!!!) (haven`t tested it yet!!!).py
/The Pygame Platformer
/this is a test.py
/toaasss.py
/دستگاه هیتر هوای گرم.pdf
/دستگاه هیتر هوای گرم.pptx
/دستگاه پروگرامر (پارسا فریدونی).pdf
/مولتی متر (پارسا فریدونی 40113941054501).pdf